.DS_Store
.idea
imgui.ini
cmake-*
ImportExecutables-*.cmake
/out*
dist
dist-*
toolchains
filament/docs/html/**
.vscode
*tmp*.png
civetweb.txt
/TAGS
settings.json
test*.png
test*.json
results

VisualStudio
*.vcxproj
*.vcxproj.filters
*.sln

build/CMakeFiles
build/.cmake
build/filament
build/include
build/samples
build/shaders
build/third_party
build/tools
build/x64
build/cmake_install.cmake
build/CMakeCache.txt
build/libs